<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zwy.ttms">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Administrator.ManageSeatActivity"/>
        <activity android:name=".Customer.FirendListActivity"/>
        <activity android:name=".conductor.SaleTicket"/>
        <activity android:name=".conductor.ConductorUI"/>
        <activity android:name=".conductor.RefundTicketActivity"/>
        <activity android:name=".Administrator.AdministratorUI"/>
        <activity android:name=".Administrator.ManageStudioActivity"/>
        <activity android:name=".Administrator.ManageUserActivity"/>
        <activity android:name=".Manager.ManageScheduleActivity"/>
        <activity android:name=".Administrator.PlayManagement"/>
        <activity android:name=".conductor.ChosePlayActivity"/>
        <activity android:name=".LoginActivity"
                  android:launchMode="singleTask">

        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>
    </application>

</manifest>